# .streamlit/secrets.toml

[connections.datawarehouse]
dialect = "postgresql"
host = "  "
port = "  "
database = "  "
username = "  "
password = "  "

[connections.administracion]
dialect = "postgresql"
host = "  "
port = "  "
database = "  "
username = "  "
password = "  "
